@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    color: black;
}
body {
    font-family: 'Work Sans', sans-serif;
}
:root {
    --bbcgtext: #000;
    --bg1: #f2f2f2;
}
/* ! classes */
.lists {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    min-width: 100%;
    height: 10vh;
    /* border: 2px solid black; */
    border-bottom: 2px solid #f2f2f2;
    background-color: var(--bg1);
}
nav > p {
    font-family: 'Alex Brush', cursive;
    color: var(--bbcgtext);
    width: 10%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-left: 4rem;
    user-select: none;
}
nav > ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 80%;
}
nav ul > li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    height: 6rem;
    /* border: 1px solid blue; */
}
nav ul > li > a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--bbcgtext);
    /* position: absolute; */
    padding: 2.5px 6px 3.5px 6px;
    /* border: 2px solid #0c70750c; */
    transition: box-shadow 198ms ease-out 10ms;
    border-radius: 15px;
    /* position: absolute; */
}
nav ul > li > a:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    /* border: 2px solid #787878; */
    border: none;
    transform: translateZ(2px);
    transition-delay: 195ms smooth;
    transform: translateX(-2.00px);
    transform: translateY(3.00px);
    /* position: relative; */
    /* padding: 10% 0%; */
}
nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: auto;
    text-decoration: none;
}
#lsgn-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}
#signupBtn {
    background-color: black;
    color: white;
    padding: 4px 6px;
    position: relative;
    right: 6rem;
    transition: box-shadow .5s ease-out 10ms;
}
#signupBtn:hover {
    background-color: #1a1a1a;
    color: white;
}
#themeBtn {
    font-size: 1.5rem;
    /* border: 1px solid #000; */
    padding: .6rem .8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background 400ms ease-out 30ms;
    transition: color 800ms ease-out;
    /* transition: background 400ms ease-in-out 30ms; */
}
#themeBtn:hover {
    background: #000;
    color: white;
}
.quotes-container {
    width: 100%;
    height: 90vh;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #001F3F; */
    background-color: #69c8ee;
}
.quotes-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 33rem;
    width: 96vw;
    background-color: var(--bg1);
}
.quotes-lists {
    /* padding: none; */
    width: 100%;
    padding: 0;
    
}
/* #quotesDisplaySection {
    border: 2px solid #5f919350;
} */
.quotes-main > ul > li {
    height: 7rem;
    min-width: 100%;
    /* border: 2px solid white; */
}

.quotes-main > ul > li:nth-child(1) {
    /* text-align: center; */
    height: 9rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.quotes-main > ul > li:nth-child(2) {
    width: 100%;
    height: 10rem;
}
.mainText {
    font-size: 5rem;
    user-select: none;
    font-family: 'Satisfy', cursive;
    /* padding-bottom: 5rem; */
}

#quotesDisplaySection {
    height: 12rem;
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 8px 5px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotes-main > ul > li:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#quoteText {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    line-height: 1.5;
}
#generateBtn {
    height: 2.5rem;
    width: 7.5rem;
    border-radius: 22px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    font-size: 1.2rem;
    transition: box-shadow 190ms ease-out 2ms;
}
#generateBtn:hover {
    scale: 1.08;
    /* background-color: #107658; */
    box-shadow: 0px 0px 5px 2px #0c7075;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
    transition-delay: 195ms smooth;
    /* padding: 0 10px 0 10px; */
}
.popular-quotes {
    height: 10rem;
}